.barra-navegacion {
    list-style-type: none;
    padding: 25px;
    text-align: center; 
    background-color: black;
}
.barra-navegacion li {
    display:flex; 

}
.barra-navegacion li a {
    text-decoration: none;
    background-color: black; 
    color: yellow; 
    padding: 25px 25px;
}
.barra-navegacion li a:hover {
    background-color: yellow; 
    color: black;
}